#compre-card {
  .content-align {
    justify-content: space-between;
    padding-top: 10rem;

    .compre-card-text {
      width: 30vw;
      margin: auto;

      h2 {
        text-align: left;

        span {
          color: var(--blue-dark);
          font-size: 800;
        }
      }

      p {
        font-weight: 300;
        margin-bottom: 4rem;
      }

      .btn-p {
        margin-left: 25%;
        font-size: calc(1.5rem + .4vw);
        padding: 1rem;
      }
    }

    .compre-card-cards {
      width: 60%;
      display: flex;
      justify-content: center;
      gap: 5rem;

      
      .card {
        padding: 4rem 2rem;
        border-radius: 1rem;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
        width: 47%;
        max-width: 35rem;

        .header-card {
          height: 7rem;
          width: 100%;
          display: flex;
          align-items: center;
          padding-left: 4rem;
          margin-bottom: 3rem;

          img {
            width: 80%;
            min-width: 15rem;
          }

          span {
            font-size: 1.5rem;
            font-weight: 600;
          }
        }

        ul {
          display: grid;
          gap: 2rem;

          li {
            display: flex;
            align-items: center;

            p {
              font-size: calc(1rem + .4vw);
              font-weight: 300;
              color: rgb(116, 116, 116);
              position: relative;
              margin-left: 2.5rem;
            }

            .x {
              background-color: red;
              border-radius: 50%;
              padding: 0.2rem;
              position: absolute;
            }

            .minus {
              background-color: rgb(255, 187, 0);
              border-radius: 50%;
              padding: 0.2rem;
              position: absolute;
            }

            .check {
              background-color: var(--blue-dark);
              border-radius: 50%;
              padding: 0.2rem;
              position: absolute;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  #compre-card {
    .content-align {
      .compre-card-text {
        width: 100%;
      }

      .compre-card-cards {
        width: 100%;
      }

    }
  }
}

@media screen and (max-width: 600px) {
  #compre-card {
    .content-align {
      .compre-card-cards {
        flex-direction: column-reverse;
        align-items: center;
        gap: 5rem;
        width: 100%;

        .card {
          width: 80%;
        }
      }

    }
  }
}

@media screen and (max-width: 350px) {
  #compre-card {
    .content-align {
      .compre-card-cards {
        .card {
          width: 80%;

          .header-card {
            padding-left: 0;
          }
        }
      }

    }
  }
}