#servicos {

  .content-align {
    display: flex;
    flex-direction: column;

    h2 {
      font-size: calc(1.5rem + 1.5vw);
      max-width: 60rem;
    }

    .servicos {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 5rem;

      .servico {
        display: grid;
        gap: 1rem;
        width: 40rem;

        img {
          border-radius: 1rem;
          width: 40rem;
        }

        span {
          color: var(--blue-dark);
          font-weight: 600;
          font-size: 1.75rem;
          margin-left: 3rem;
          position: relative;

          &::before {
            content: "";
            width: 2rem;
            height: 1px;
            background-color: var(--blue-dark);

            position: absolute;
            left: -3rem;
            top: 50%;
            transform: translateY(-50%);
          }
        }

        h3 {
          font-size: calc(1rem + 1vw);
          color: rgb(56, 56, 56);
          margin-bottom: 4rem;
        }
      }
    }
  }
}

@media screen and (max-width: 1580px) {
  #servicos {
    .content-align {
      .servicos {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}

@media screen and (max-width: 1180px) {
  #servicos {
    .content-align {
      .servicos {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}

@media screen and (max-width: 780px) {
  #servicos {
    .content-align {
      .servicos {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}