#projetos .content-align {
  flex-direction: column;
  gap: 1rem;
}



#wrapper {
  width: 100%;
  position: relative;
  margin: auto;
}

#carousel {
  overflow: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

#carousel::-webkit-scrollbar {
  height: 0;
}

#prev,
#next {
  display: block;
  justify-content: center;
  align-content: center;
  background: rgba(255, 255, 255, .5);
  border: none;
  padding: 8px;
  border-radius: 50%;
  outline: 0;
  cursor: pointer;
  position: absolute;
}

#prev {
  top: 50%;
  left: 0;
  transform: translate(50%, -50%);
}

#next {
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
}

#content {
  display: flex;
  gap: 30px;
  margin: auto;
  box-sizing: border-box;
}

#wrapper .item {
  min-width: 300px;
  display: grid;
  gap: .75rem;
}

#wrapper .item:hover p,
#wrapper .item:hover span {
  color: var(--blue-2);
}

#wrapper .item img {
  width: 100%;
  aspect-ratio: 4 / 3;
  border-radius: 15px;
}

#wrapper .item p {
  font-size: calc(1rem + .75vw);
  color: rgb(56, 56, 56);
}

#wrapper .item span {
  font-size: 1.5rem;
  transition: .3s;
  color: var(--blue-dark);
  font-weight: 600;
  margin-left: 2rem;
  position: relative;
}

#wrapper .item span::before {
  content: "";
  width: 1.25rem;
  height: 1px;
  background-color: var(--blue-dark);

  position: absolute;
  left: -2rem;
  top: 50%;
  transform: translateY(-50%);
}

@media screen and (max-width: 500px) {

  #prev,
  #next {
    display: none;
  }
}